body {
    background-color: #efefef;
}

.margin {
    margin: 30px;
    background: white;
}

.publish-btn {
    float: right;
    margin-bottom: 20px;
}

.img-desc {
    width: 40px;
    height: 40px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media-body{
    padding-top: 10px;
}

.header-block{
    font-weight: bold;
}

.profile .section {
    margin-top: 20px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin: 50px;
}

.comment {
    margin:10px 0
}

.sub-comment {
    margin-top: 15px;
    border-radius: 15px;
    border: solid 1px #eee;
    margin-bottom: 15px;
}

.sub-comment .btn {
    margin:10px 0;
}

.comment-sp{
    margin-top:20px
}

.menu {
    color: #999;
    margin-top:5px;
}

.menu .icon {
    margin-left: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.content-section {
    margin-top:20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.title-to {
    margin-top:-8px;
}

.tag{
    margin-bottom:15px;
}

.tag .tag-margin{
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left:0;
    list-style:none;
    padding-left: 0;
}

.img-definition{
    width:100%;
}